[Unit]
Description=SWUpdate daemon
Documentation=https://github.com/sbabic/swupdate
Documentation=https://sbabic.github.io/swupdate

[Service]
ExecStartPre=-/usr/bin/swupdate-env
EnvironmentFile=-/tmp/swupdate.env
ExecStart=/usr/bin/swupdate -v -w "-r /www" $SWUPDATE_EXTRA_ARGS
KillMode=mixed

[Install]
WantedBy=multi-user.target
